.forgot-password-text{
    text-align: right !important;
    color:blue;
    cursor: pointer;
}

.align-center{
    text-align: center;
    margin-bottom:20px
    }

    .logo{
        margin-top:5%
    }