.header {
  width: 100%;
  font-size: 22px;
  background-color: #0b3655 !important;
}

.header2 {
  border-bottom: 1px solid #eee;
}

.errorMessage{
  color : #D8000C;
  height: 5px; 
  font-size: 13px;
  display: block;
}
.header .dropdown-toggle {
  float: right;
  padding: 21px;
  cursor: pointer;
}
.invalid{
  border:1px solid #D8000C !important
}

.header .dropdown-item {
  cursor: pointer;
  font-size: 13px;
}
.header2 .bg-light {
  background: #fbfbfb;
}
.dropdown-menu-left{
  margin-right: 40px !important;
}
.userDiv{
  color:white;
  font-size: 13px;

}
.navbar-nav {
  margin-right: 25px;
}

.exportIcon {
  color: white;
}

.main-header {
  width: 100%;
}
/*# sourceMappingURL=Header.css.map */

.workflowNameInput{
  width: 700px;
}
.workflowName{
  width:400px
}