.header {
    width: 100%;
    font-size: 22px;
    background-color: #0b3655 !important;
}

.header2 {
    border-bottom: 1px solid #eee;

    .bg-light {
        background: #fbfbfb;
    }
}

.navbar-nav {
    margin-right: 25px;
}

.exportIcon {
    color: white;
}

.main-header {
    width: 100%;

}

