
.modal-header{
    background-color: #0b3655;
    font-size: 17px;
    color: #fff;

    .close {
        color: #fff;
        opacity: 100;
        padding: 12px;
        &:focus {
            outline: 0;
        }
    }
}
.button-menu {
    margin-right: 10px;
    height: 33px;
  }
.modal-title{
    font-size: 16px !important;
    color:white
}

.crud-btn .btn-secondary {
    color: #0b3260;
    background-color: transparent;
    border-color: transparent;
    outline: none !important;
    font-size: 17px;
    margin: 0;
    padding: 0 6px;
  }

  .div-mapper-search{
    padding: 0px 10px;
    float: right;
  }

  .kwRiGp{
      min-height: 0px !important;
  }