.inspector {
  width: 24%;
  height: 70vh;

  float: left;
}
.datalist{
  max-height: 500px;
  overflow-y: auto;
}

.colorRed{
  color:red
}
.inspector td,
th {
  padding: 2px 10px 2px 2px;
  font-size: 13px;
}
.popover-header {
  font-size: 12px !important;
}
.popover {
  max-width: 150px !important;
}
.popover-button {
  font-size: 12px;
  min-height: 13px;
  margin-left: 12%;
  min-width: 30px;
  padding: none !important;
}
.width-50 {
  width: 50% !important;
}

.inspector input[type="color"] {
  width: 140px;
}

.inspector input:disabled {
  background-color: #eeeeee;
  /* Grey 400 */
  color: #616161;
  /* Grey 700 */
  border-bottom: 1px solid #bdbdbd;
  /* Grey 900 */
}

.displayNone {
  display: none;
}

.nav-tabs {
  background-color: #eee;
}

.inspector .nav-tabs {
  cursor: pointer;
}

.inspector .nav-tabs .nav-link.active {
  color: #222;
  border: 0;
  background: #ffffff;
  border-bottom: #7eadd3 solid;
}

.inspector .form-group {
  margin-bottom: 0;
}

.inspector .form-control {
  margin-bottom: 0.3rem;
}
/*# sourceMappingURL=DataInspector.css.map */
