.inspector {
    width: 24%;
    float: left;
  }
  .datalist{
    height:50px !important;
    max-height:80px !important;
    overflow-y:auto;
    display:block !important;
  }

  .inspector td,
  th {
    padding: 2px 10px 2px 2px;
    font-size: 13px;
  }
  .width-50 {
    width: 50% !important;
  }
  .inspector input[type="color"] {
    width: 140px;
  }
  
  .inspector input:disabled {
    background-color: #eeeeee; /* Grey 400 */
    color: #616161; /* Grey 700 */
    border-bottom: 1px solid #bdbdbd; /* Grey 900 */
  }
  
  .displayNone {
    display: none;
  }
  .nav-tabs{
    background-color: #eee;
  
  }
  .inspector {
    .nav-tabs {
      cursor: pointer;
    }
    .nav-tabs .nav-link.active {
      color: #222;
      border: 0;
      background: #ffffff;
      border-bottom: #7eadd3 solid;
    }
    .form-group {
      margin-bottom: 0;
    }
    .form-control {
      margin-bottom: 0.3rem;
    }
}