.login-wrapper {
    flex-direction: column;
}
.login-box {
    box-shadow: 0px 0px 4px 2px #ecebeb;
    border: 1px solid #cbcbcb;
    padding: 1rem;
}

.logo{
    margin-top:5%;
  }
.login-border {
    box-shadow: inset 1px 5px 1px 0px #0b3655;
}
.align-center{
    text-align: center;
    }
logo {
    width: 196px;
    height: 57px;

    img {
        width: 100%;
        height: 100%;
    }
    
}

.forgot-password{
color:blue;
cursor: pointer;
}