.login-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-center{
text-align: center;
color:blue
}
.login-box {
  -webkit-box-shadow: 0px 0px 4px 2px #ecebeb;
          box-shadow: 0px 0px 4px 2px #ecebeb;
  border: 1px solid #cbcbcb;
  padding: 1rem;
}
.errorMessage{
  color : #D8000C;
  height: 5px; 
  font-size: 13px;
  display: block;
}


.invalid{
  border:1px solid #D8000C !important
}
.login-border {
  -webkit-box-shadow: inset 1px 5px 1px 0px #0b3655;
          box-shadow: inset 1px 5px 1px 0px #0b3655;
}

logo {
  width: 196px;
  height: 57px;
}

logo img {
  width: 100%;
  height: 100%;
  

}


/*# sourceMappingURL=Login.css.map */