body {
  color: #222;
  font-size: 14px;
}
.myPallateDiv {
  width: 15%;
  margin-right: 2px;
  float: left;
  border-right: 1px solid rgb(204, 204, 204);
}

.myDiagramDiv {
  flex-grow: 1;
  width: 60%;
  border-right: 3px solid #eee;
  background-color: #fff;
  height: 750px;
}

.myDiagramExport{
  width: 100%;
  border-right: 3px solid #eee;
  background-color: #fff;
  height: 750px;
}

.mainDiv {
  width: 76%;
  float: left;
  display: flex;
  justify-content: space-between
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.diagram-component {
  width: 400px;
  height: 400px;
  border: solid 1px black;
  background-color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.h-100vh {
  height: 100vh;
}

//buttons
.btn-primary {
  background: #93282c;
  border: 1px solid #882024;
  font-size: 14px;
  padding: 0.3rem 0.5rem;
  min-width: 90px;
  min-height: 35px;

  &:hover,
  &:focus,
  &:active {
    background: #ad3539;
    border: 1px solid #882024;
  }

  &:not(:disabled):not(.disabled):active {
    background: #6e9fc7;
    border: 1px solid #5d8fb8;
    box-shadow: none;
  }
}

.btn-secondary {
  background: #717172;
  border: 1px solid #646464;
  font-size: 14px;
  padding: 0.3rem 0.5rem;
  min-width: 90px;
  min-height: 35px;

  &:hover,
  &:focus,
  &:active {
    background: #979797;
    border: 1px solid #979797;
  }

}

.btn-info {
  font-size: 14px;
  padding: 0.3rem 0.5rem;
  min-width: 90px;
  min-height: 35px;

  &:hover,
  &:focus,
  &:active {
    background: #21afc6;
    border: 1px solid #17a2b8;
  }

}

//buttons end

input::placeholder {
  font-size: 12px;
}

.custom-checkbox {
  label {
    cursor: pointer;
  }

}

a {
  color: #4c92cb;

  &:hover {
    color: #63abe6;
    text-decoration: none;
  }
}
.nav-link-top {
  color: #4c92cb !important;

  &:hover {
    color: #63abe6 !important;
    text-decoration: none;
  }
}


.form-control:focus,
.custom-control-input:focus .custom-control-input:active {
  color: #495057;
  background-color: #fff;
  border-color: #838383;
  outline: 0;
  box-shadow: none;
}
.c-dropdown {
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 100px;
  text-align: center;
  background: #fff;
  min-height: 30px;
  margin-left: 1rem;
  .dropdown-toggle::after {
    margin-left: 0.5rem;
    vertical-align: 2px;
  }
  .dropdown-item {
    font-size: 14px;
  }
}
canvas:focus {
  outline: 1px solid #ccc;
  border: 0 none;
}
input[type="file"] {
  position: absolute;
  top: 6px;
  left: 15px;
  color: rgb(153,153,153);
}

.button-wrap {
  position: relative;
}

.new-button {
    display: inline-block;
    padding: 8px 16px; 
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #17a2b8;
    color: #fff;
    position: relative;
    z-index: 2;
    &:hover {
      background: #21afc6;
    }
}