body {
  color: #222;
  font-size: 14px;
}
::-webkit-scrollbar {
  width: 14px;
  height: 14px;}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.1);
    border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; 
}
.myPallateDiv {
  width: 15%;
  margin-right: 2px;
  float: left;
  border-right: 1px solid #cccccc;
}





.myDiagramDiv {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 60%;
  border-right: 3px solid #eee;
  background-color: #fff;
  height: 70vh;
}
.myDiagramExport{
    height: 100vh;
    width: 100%;

}
.mainDiv {
  width: 76%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.diagram-component {
  width: 400px;
  height: 400px;
  border: solid 1px black;
  background-color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.h-100vh {
  height: 100vh;
}

.btn-primary {
  background: #93282c;
  border: 1px solid #882024;
  font-size: 14px;
  padding: 0.3rem 0.5rem;
  min-width: 90px;
  min-height: 35px;
}

.btn-warning {
  font-size: 14px;
  padding: 0.3rem 0.5rem;
  min-width: 90px;
  min-height: 35px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #ad3539;
  border: 1px solid #882024;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background: #6e9fc7;
  border: 1px solid #5d8fb8;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-secondary {
  background: #717172;
  border: 1px solid #646464;
  font-size: 14px;
  padding: 0.3rem 0.5rem;
  min-width: 90px;
  min-height: 35px;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background: #979797;
  border: 1px solid #979797;
}

.btn-info {
  font-size: 14px;
  padding: 0.3rem 0.5rem;
  min-width: 90px;
  min-height: 35px;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #21afc6;
  border: 1px solid #17a2b8;
}

input::-webkit-input-placeholder {
  font-size: 12px;
}

input:-ms-input-placeholder {
  font-size: 12px;
}

input::-ms-input-placeholder {
  font-size: 12px;
}

input::placeholder {
  font-size: 12px;
}

.custom-checkbox label {
  cursor: pointer;
}

a {
  color: #4c92cb;
}

a:hover {
  color: #63abe6;
  text-decoration: none;
}

.nav-link-top {
  color: #4c92cb !important;
}

.nav-link-top:hover {
  color: #63abe6 !important;
  text-decoration: none;
}

.form-control:focus,
.custom-control-input:focus .custom-control-input:active {
  color: #495057;
  background-color: #fff;
  border-color: #838383;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.c-dropdown {
  border-radius: 5px;
  min-width: 100px;
  text-align: center;
  background: #fff;
  min-height: 30px;
  margin-left: 1rem;
}

.c-dropdown .dropdown-toggle::after {
  margin-left: 0.5rem;
  vertical-align: 2px;
}

.c-dropdown .dropdown-item {
  font-size: 14px;
}

canvas:focus {
  outline: none;
  border: 0 none;
}

input[type="file"] {
  position: absolute;
  top: 6px;
  left: 15px;
  color: #999999;
}

.button-wrap {
  position: relative;
}

.new-button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #17a2b8;
  color: #fff;
  position: relative;
  z-index: 2;
}

.new-button:hover {
  background: #21afc6;
}


.Toastify__toast {
  position: relative;
 min-height: 0px !important
}
/*# sourceMappingURL=App.css.map */